<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<properties resource="com/flouis/mybatis/resource/db.properties" />
	
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.flouis.mybatis.entity.User" alias="user" />
		<typeAlias type="com.flouis.mybatis.entity.Order" alias="_Order"/>
		<typeAlias type="com.flouis.mybatis.entity.Major" alias="_Major"/>
		<typeAlias type="com.flouis.mybatis.entity.Classes" alias="_Classes"/>
		<typeAlias type="com.flouis.mybatis.entity.Student" alias="_Student"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/flouis/mybatis/resource/userMapper.xml"/>
		
		<mapper class="com.flouis.mybatis.mapper.UserMapper"/>
		
		<mapper resource="com/flouis/mybatis/resource/orderMapper.xml"/>
		
		<mapper resource="com/flouis/mybatis/resource/classesMapper.xml"/>
		
		<mapper resource="com/flouis/mybatis/resource/majorMapper.xml"/>
	</mappers>
	
</configuration>