<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flouis.mybatis.resource.personMapper">
	
	<!-- 调用存储过程 -->
	<select id="getCountByGender" resultType="java.util.Map" statementType="CALLABLE">
		{ call get_count_by_gender(#{gender_flag,mode=IN,jdbcType=INTEGER},#{result_count,mode=OUT,jdbcType=INTEGER}) }
	</select>
	
</mapper>


