<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flouis.mybatis.resource.userMapper">
	
	<cache></cache>
	
	<select id="getUser" parameterType="String" resultType="user">
		select * from users where id = #{id}+0
	</select>
	
	<!-- CRUD Operations: -->
	<insert id="insertUser" parameterType="user">
		insert into users(name,age) values(#{name},#{age})
	</insert>
	
	<delete id="deleteUserById" parameterType="int">
		delete from users where id = #{id}
	</delete>
	
	<update id="updateUserById" parameterType="user">
		update users set name = #{name} , age = #{age} where id = #{id}
	</update>
	
	<select id="findUserById" parameterType="int" resultType="user" ><!-- useCache="true" -->
		select * from users where id = #{id}		
	</select>
	
	<select id="findAllUsers" resultType="com.flouis.mybatis.entity.User">
		select * from users
	</select>
	
	<!-- Conditional Query : 动态SQL语句 -->
	<select id="getUsersByCondition" parameterType="user" resultType="user">
		select * from users where 1 = 1
		<if test="name != null"> and name like #{name} </if>
		<if test="age != null"> and age >= #{age} </if>
	</select>
	
	<select id="getUsersByCondition2" parameterType="user" resultType="user">
		select * from users
		<where>
			<if test="name != null"> and name like #{name} </if>
			<if test="age != null"> and age >= #{age} </if>
		</where>
	</select>
	
	<select id="getUsersByCondition3" parameterType="user" resultType="user">
		select * from users
		<where>
			<choose>
				<when test="name != null">name like #{name}</when>
				<when test="age != null">and age >= #{age}</when>
				<otherwise>and 1 = 1</otherwise>
			</choose>
		</where>
	</select>
	
	<select id="getUsersBySqlString" parameterType="_SqlString" resultType="user">
		${sqlString}
	</select>
	
	
	
</mapper>


